<br>
<div align=center>
    <button mat-raised-button color="accent" (click)="refresh()"  ><mat-icon>autorenew</mat-icon></button>
    <div class="card-group" >
        <div class="card"  >
            <div class="card-body" align=center >
                <div id="divChart1" >
                    <canvas id="deathChart"  colors="chartColors">
                        
                    </canvas>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="card-body" align=center >
                <div id="divChart2" >
                    <canvas id="confirmedChart"  colors="chartColors">
                        
                    </canvas>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="card-body" align=center >
                <div id="divChart3" >
                    <canvas id="activeChart"  colors="chartColors">
                        
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group" >
        <div class="card"  >
            <div class="card-body" align=center  >
                <div id="divChart4" >
                    <canvas id="recoveredChart"  colors="chartColors">
                        
                    </canvas>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="card-body" align=center >
                <div id="divChart5" >
                    <canvas id="newCasesChart"  colors="chartColors">
                        
                    </canvas>
                </div>
            </div>
        </div>
        <div class="card"  >
            <div class="card-body" align=center >
                <div id="divChart6" >
                    <canvas id="newDeathsChart"  colors="chartColors">
                        
                    </canvas>
                </div>
            </div>
        </div>
    </div>

</div>