<br>
<div align=center style="height:565px;">
  <mat-card class="example-card" style="width:500px;background-color: gray;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Downloads</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <table align="center" style="width: 100%;">
            <tr>
                <td>Download PPT </td>
                <td><a mat-raised-button color="accent" href="assets/ppt/Call4Code2020_IN_VR.pptx" download role="button"><mat-icon>get_app</mat-icon>Download</a></td>
            </tr>
        </table>
      </mat-card-content>
  </mat-card>
</div>


