<br>
<div align=center style="height:565px;">
<mat-card class="example-card" style="width:300px;">
  <mat-card-header>
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-subtitle>India </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" value="9980835098" disabled>
            <mat-icon matSuffix>dialer_sip</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label><input matInput  placeholder="Ex. pat@example.com" disabled value="vrangare@in.ibm.com">
              <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</div>